a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
  color: #fff;
}
.work-section {
  padding-top: 120px;
}
.wp-block-video {
  margin-left: 0;
  margin-right: 0;
}
.wp-block-video [poster] {
  -o-object-fit: cover;
  object-fit: cover;
}
.wp-block-video video {
  max-width: 100%;
}
.dot-style {
  width: 50% !important;
  border-top: 5px dotted #ffffff;
  margin: 10px 5px 0 5px;
}
.number {
  height: 30px;
  width: 35px;
  border-radius: 50px;
  background-color: #ffffff;
  text-align: center;
  font-size: 24px;
  color: rgb(219, 244, 173);
  padding: 0 0 0 0;
}

.btn__style {
  width: 100%;
  background-color: rgb(225, 96, 54) !important;
  border-color: rgb(225, 96, 54) !important;
  color: #ffffff;
  font-size: 24px;
  outline: none;
  display: inline-block;
  border-radius: 8px;
  padding: 18px 24px;
  -webkit-transition: color 0.2s, border-color 0.2s, background-color 0.2s;
  -o-transition: 0.2s color, 0.2s border-color, 0.2s background-color;
  transition: color 0.2s, border-color 0.2s, background-color 0.2s;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
}

.center {
  margin: 0 auto;
  width: 48px;
  height: 48px;
}

.mt-08 {
  margin-top: 80px;
}

.mb-08 {
  margin-bottom: 80px;
}

.btn__style:not(:disabled) {
  cursor: pointer;
}

.hr {
  width: 33%;
  justify-content: center;
}

.eyebrow {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 150%;
}

.profile-card {
    border-radius: 8pxs;
}

.name {
    margin-top: 24px;
    margin-bottom: 4px;
}

.degree {
    margin-top: 4px;
    margin-bottom: 16px;
}

.card-content {
    background-color: #1d2733;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
}

.mission__content {
    padding-top: 64px;
    padding-bottom: 48px;
}


@media screen and (max-width: 1024px) {
  .dot-style {
    width: 50% !important;
    border-top: 5px dotted #ffffff00;
    margin: 10px 5px 0 5px;
  }
}

@media screen and (min-width: 768px) {
    .mission__content {
        padding-top: 120px;
        padding-bottom: 80px;
    }
}